
<div class="cocktail-name"><%= @cocktail.name %></div>


<div class="cocktail-info">
  <div class="cocktail-picture">
    <%= cl_image_tag @cocktail.photo %>
  </div>

  <div class="details">
    <p>Ingredients</p>
    <div class="cocktail-ingredients">
      <ul>
        <% @cocktail.ingredients.each do |ingredient| %>
          <li>
            <%= ingredient.name %>
            <ul>
              <li>
                <% ingredient.doses.each do |dose| %>
                <%=  dose.description %>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), class: "button"%>
    </div>
  </div>
</div>
<div class="reviews">
  <h2>Reviews</h2>
  <% @cocktail.reviews.each do |review| %>
    <div class="fake-name"><i class="fas fa-user-circle"></i> <%= Faker::FunnyName.name %></div>
    <p class="review"><%= review.content %></p>
  <% end %>
</div>
<%= link_to "Add Review",  new_cocktail_review_path(@cocktail), class: "button" %>
<%= link_to "Back to drinks", cocktails_path, class: "button" %>
